# =========================
# Node Modules
# =========================
node_modules/

# =========================
# Environment Variables
# =========================
.env
.env.local
.env.production

# =========================
# Build Folders
# =========================
dist/
build/

# =========================
# Logs
# =========================
*.log

# =========================
# OS Files
# =========================
.DS_Store
Thumbs.db

# =========================
# IDE
# =========================
.vscode/
.idea/

# =========================
# TypeScript
# =========================
*.tsbuildinfo

# =========================
# Docker Volumes
# =========================
postgres-data/
docker-data/

# =========================
# Database Files
# =========================
*.sqlite
*.db

# =========================
# Security Keys
# =========================
*.pem
*.key
id_rsa
id_rsa.pub
